body{
background-color: gray;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
 h1{
    color:chartreuse
 }
p {
    color:bisque
}
video {
    border: 0ch;
    padding-top: 2cqmax
}
